{{template "header" .}}

    <div id="pageDiv">
        <div class="left">
            {{template "nav" .}}
        </div>
        <div id="mainDiv" class="middle">
            
            <h1>f you, joe boo</h1>
        </div>
        <div class="right">

        </div>
    </div>

{{template "footer" .}}