{{define "nav"}}

<nav class="nav">
    <a href="/help">Help</a>
    <br>
    <a href="/setup">Setup</a>
    <br>
    <a href="/login">Login</a>
    <br>
    <a href="/serialRequest">Interim Label</a>
</nav>

{{end}}