@import "nav.css";

body {
    background-color: rgb(226, 226, 226);
}
#pageDiv {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
}

.fp-header {
    grid-area: fp-header;
}

.serial-input-main {
    grid-area: serial-number;
}

.serial-error {
    grid-area: serial-error;
}

.ip-address-main {
    grid-area: ip-address;
}

.ip-error {
    grid-area: ip-error;
}

.weight-input-main {
    grid-area: weight-input;
}

.weight-error {
    grid-area: weight-error;
}

.rev-level-main {
    grid-area: rev-level;
}

.rev-error {
    grid-area: rev-error;
}

#print-button {
    grid-area: requestButton;
}

.middle {
    /* background-color: lightgray; */
    border-radius: 10px;
    display: grid;
    grid-template-areas: 
        "... fp-header ..."
        "... serial-number serial-error"
        "... ip-address ip-error"
        "... weight-input weight-error"
        "... rev-level rev-error"
        "... requestButton ...";
}

.print-button-class {
    width: 250px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    margin-top: 40px;
}

.middle input{
    margin: 0;
    width: 50%;
    height: 20px;
    border: none;
    background-color: whitesmoke;
    font-size: 1.1em;
}

.middle input:focus{
    outline: none;
}


.middle label {
    font-size: 1em;
}

.middle h1 {
    text-align: center;
}

.input-section {
    background-color: whitesmoke;
    padding-top: 5px;
    padding-left: 5px;
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin: 10px auto;
}

.req-button-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.error {
    padding-top: 20px;
    color: red;
}

.hidden {
    display: none;
}

.right {
    padding: 10px;
}