@import "nav.css";

#pageDiv{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.s-header {
    grid-area: s-header;
}

.cell-id-input  {
    grid-area: cell-id;
}

.cell-error {
    grid-area: cell-error;
}

.model-input{
    grid-area: model-input;
}

.model-error {
    grid-area: model-error;
}

.op-input {
    grid-area: op-input;
}

.op-error{
    grid-area: op-error;
}

.submit-class {
    grid-area: submit-area;
}

#setup-status {
    grid-area: s-status;
}

.middle {
    border-radius: 10px;
    display: grid;
    grid-template-areas: 
        "... s-header ..."
        "... cell-id cell-error"
        "... op-input op-error"
        "... model-input model-error"
        "... submit-area ..."
        "... s-status s-status";
}

.middle input{
    margin: 0;
    width: 50%;
    height: 20px;
    border: none;
    background-color: whitesmoke;
    font-size: 1.1em;
}

.middle input:focus{
    outline: none;
}

.middle label {
    font-size: 1em;
}

.middle h1 {
    text-align: center;
}

.input-section {
    background-color: whitesmoke;
    padding-top: 5px;
    padding-left: 5px;
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin: 10px auto;
}

.submit-class {
    width: 250px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    margin-top: 5px;
}


/* .setup-div {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "cell-id-label cell-id-input cell-error"
        "op-label op-input op-error"
        "model-label model-input model-error"
        ".... .... ...." 
        "button button2 ....";
} */

.error {
    padding-top: 20px;
    color: red;
}

/* .top-row {
    margin-bottom: 10px;
    text-decoration: underline;
}
*/
.components-div {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.submit-comp {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

#submit-comp{
    width: 25%;
} 